* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 700px;
}

.slider_container {
    max-width: 700px;
    position: relative;
}

.slide {
    height: 100%;
    width: 100%;
}

.slider_image {
    width: 100%;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot:active {
    background-color: #333;
}

.left_block, .right_block {
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 50px;
}

.left_block:hover, .right_block:hover {
    cursor: pointer;
    background-color: #3b3b3b;
    transition: 0.7s;
    opacity: 50%;
    font-size: 25px;
}

.left_block {
    left: 0;
}

.right_block {
    right: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}